<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <div class="cart-count">0</div>
        <ion-icon name="cart"  id="cart-icon" ></ion-icon>
    </div>

    <div class="cart">
        <div class="cart-title">Cart Items</div>
        <div class="cart-content">
    </div>
    <div class="total">
        <div class="total-title">Total</div>
        <div class="total-price">Rs.0</div>
    </div>
    <button class="btn-buy">Place Order</button>
    <ion-icon name="close" id="cart-close"></ion-icon>
</body>
</html>